aiofiles==25.1.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.4.1
colorama==0.4.6
ecdsa==0.19.2
fastapi==0.136.3
fire==0.7.1
fonttools==4.63.0
h11==0.16.0
idna==3.18
lxml==6.1.1
numpy==2.4.6
opencv-python-headless==4.13.0.92
pdf2docx==0.5.13
pillow==12.2.0
pyasn1==0.6.3
pydantic==2.13.4
pydantic-settings==2.14.1
pydantic_core==2.46.4
PyMuPDF==1.27.2.3
pypdf==6.13.1
python-docx==1.2.0
python-dotenv==1.2.2
python-jose==3.5.0
python-multipart==0.0.32
rsa==4.9.1
six==1.17.0
starlette==1.2.1
termcolor==3.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.49.0
